*{
    margin: 0;
    padding: 0;
}

#mainhead{
    width: 100%;
    height: auto;
    border-bottom: 2px #2980b9 solid;
}

#headWrap{
    width: 960px;
    height: 60px;
    margin:auto;
}

#wrapper{
    width: 960px;
    margin: auto;
}

.cardHolder{
    width:200px;
    height: 350px;
    border: solid #3498db 2px;
    border-radius: 5px;
}

#leftCol{}
#rightCol{}
#scoreHolder{}
#dealer{}
#player{}